In [2]:
# 데이터 집계와 그룹 연산
## GroupBy 메카닉
# 그룹 연산 : 분리-적용-결합
#          분리 : 여러 객체에 들어 있는 데이터를 하나 이상의 key를 기준으로 분리한다.
#          적용 : 분리 후 함수를 각 그룹에 적용시켜 새로운 값을 얻어낸다.
#          결합 : 함수를 적용한 결과를 하나의 객체로 결합한다.

import pandas as pd
import numpy as np
from pandas import Series, DataFrame

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                  'key2' : ['one', 'two', 'one', 'two', 'one'],
                  'data1' : np.random.randn(5),
                  'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.037252 -0.602693
1    a  two -0.181749 -0.175806
2    b  one -0.727009 -0.221409
3    b  two  0.893223  0.533040
4    a  one  0.670106 -0.506429

In [3]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [4]:
grouped.mean()

key1
a   -0.182965
b    0.083107
Name: data1, dtype: float64

In [7]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one    -0.183573
      two    -0.181749
b     one    -0.727009
      two     0.893223
Name: data1, dtype: float64

In [8]:
means.unstack()

key2       one       two
key1
a    -0.183573 -0.181749
b    -0.727009  0.893223

In [9]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

California  2005   -0.181749
            2006   -0.727009
Ohio        2005   -0.072015
            2006    0.670106
Name: data1, dtype: float64