In [1]:
# 튜플 : 1차원의 고정된 크기를 가지는 변경 불가능한 순차 자료형. 쉼표로 구분된 값을 대입한다.

tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
# 중첩된 튜플
nested_tup = (4, 5, 6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [6]:
# tuple 메서드로 tuple로 변환 가능
tuple([4, 0, 2])

(4, 0, 2)

In [8]:
tup = tuple('string')
print(tup, tup[0]) # [] 사용으로 순차 자료형처럼 접근 가능

('s', 't', 'r', 'i', 'n', 'g') s

In [9]:
tup = tuple(['foo', [1,2], True])
tup[2] = False
tup
# 한번 생성되면 슬롯에 저장된 객체 변경 불가능

TypeError: 'tuple' object does not support item assignment

In [10]:
tup = tuple(['foo', [1,2], True])
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [12]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [13]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [27]:
# 튜플 값 분리하기

tup_1 = (4, 5, 6)
tup_1 = a, b, c
tup_2 = 4, 5, (6, 7)
tup_2 = x, y, (w, z)
print(a, y)

4 5

In [28]:
a, b = 1, 2
b, a = a, b
a

2

In [29]:
# 튜플이나 리스트를 순회할 때
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a ={0}, b={1}, c={2}'.format(a, b, c))

a =1, b=2, c=3
a =4, b=5, c=6
a =7, b=8, c=9

In [34]:
# *rest
values = 1, 2, 3, 4, 5
a, b, *rest = values
rest

[3, 4, 5]

In [35]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [47]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list[1] = 'peekaboo'
b_list.append('dwarf') # append() : 리스트 값에 새로운 값 추가
b_list.insert(1, 'red') # insert(위치, 값) : 특정 위치에 값 추가
b_list.pop(2) #pop() : 특정 위치의 값을 반환하고 해당값을 리스트에서 삭제
b_list.append('foo') # 현재 b_list : ['foo', 'red', 'baz', 'dwarf', 'foo']
b_list.remove('foo') # remove() : 리스트 내 존재하는 동일한 값을 삭제할때 제일 앞에 위치한 값부터 삭제한다.
print(b_list, 'dwarf' in b_list)

['red', 'baz', 'dwarf', 'foo'] True

In [39]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
[4, None, 'foo'] + [7, 8, (2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [49]:
x = [4, None, 'foo']
x.extend([7, 8, (2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [50]:
# sort() : 리스트 정렬 함수
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [51]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len) # sort()의 옵션 중 하나 ! : 문자 길이순으로 정렬 가능
b

['He', 'saw', 'six', 'small', 'foxes']

In [54]:
import bisect
# bisect 모듈 : 이진 탐색과 정렬된 리스트에 값을 추가하는 기능 제공
# bisect 메서드 : 값이 추가될때 리스트가 정렬된 상태를 유지할 수 있는 위치를 반환
# bisect.insort : 실제로 정렬된 상태를 유지한 채 값을 추가
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [61]:
# 슬라이싱
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[3:4] = [6, 3] # -> seq = [7, 2, 3, 6, 3, 5, 6, 0, 1]
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [63]:
# enumerate : 현재 아이템의 색인을 함께 처리하고자 할떄 흔히 사용
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):  # 순차 자료형에서의 값과 그 위치를 dict에 넘겨줌
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [70]:
# sorted : 정렬된 새로운 순차 자료형을 반환. 리스트의 sort 메서드와 같은 인자를 취함
print('sorted([7, 1, 2, 6, 0, 3, 2]) :' , sorted([7, 1, 2, 6, 0, 3, 2]))
print('sorted(\'horse race\') :', sorted('horse race'))

sorted([7, 1, 2, 6, 0, 3, 2]) : [0, 1, 2, 2, 3, 6, 7]
sorted('horse race') : [' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [80]:
# zip : 여러 개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜플의 리스트를 생성 / 
#       반환되는 리스트의 크기는 넘겨받은 순차형 자료형 중 가장 짧은 크기로 정해짐
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
seq3 = [False, True]
zipped = zip(seq1, seq2, seq3)
print(list(zipped))
print()
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i ,a, b))
print()

pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers) # 짝지어진 순차 자료형을 다시 풀어낼 수도 있다
print(first_names, last_names)

[('foo', 'one', False), ('bar', 'two', True)]

0: foo, one
1: bar, two
2: baz, three

('Nolan', 'Roger', 'Schilling') ('Ryan', 'Clemens', 'Curt')

In [81]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [93]:
# dict(사전) : 내장 자료구조 중 가장 중요. 유연한 크기를 가지는 키-값 쌍으로 키 와 값은 모두 파이썬 객체이다.
#           - 생성 방법 : {}를 활용하여 콜론으로 구분된 키와 값을 둘러싼다.
empty_dict = {}
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}
d1[7] = 'an integer'
print(d1)
print(d1['b'])
d1[5] = 'some value'
d1['dummy'] = 'another value'
print(d1)
del d1[5]
ret = d1.pop('dummy') # 타 시퀀스형 자료형의 pop 과 동일 : 값을 반환함과 동시에 해당 값 삭제
print(ret)
print(d1)
print(list(d1.keys()), list(d1.values()))
print()
d1.update({'b' : 'foo', 'c' : 12}) # update 메서드로 다른 사전과 합칠수 있다(이미 존재하는 키에 대해 update를 하면 기존 값은 사라짐)
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
[1, 2, 3, 4]
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
another value
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
['a', 'b', 7] ['some value', [1, 2, 3, 4], 'an integer']

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [95]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [96]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [100]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [4]:
# 사전의 값으로는 어떤 객체던 상관없지만 키값으로는 스칼라형이나 튜플처럼 값이 바뀌지 않는 객체만 가능하다 => 해시 가능해야한다.
# 해시 가능여부는 hash 함수로 알 수 있다
print(hash('string'))
print(hash((1,2,(2,3))))
print(hash((1,2,[2,3]))) # list는 변경이 가능한 값이므로 해시 불가능

1807253753916113418
-9209053662355515447

TypeError: unhashable type: 'list'

In [5]:
d = {}
d[tuple([1,2,3])] = 5 # 리스트를 튜플화 하면 해시 가능
d

{(1, 2, 3): 5}

In [15]:
# 집합 set는 유일한 원소만 담는 정렬되지 않은 자료형이다.set함수 혹은 중괄호로 생성할 수 있다.
print(set([2,2,2,1,3,3]))
print({2,2,2,1,3,3,})
print()
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
print(a.union(b)) # union 메서드나 |로 두 집합의 합집합을 구할 수 있다
print(a|b)
print(a.intersection(b)) # intersection 메서드나 &로 두 집합의 교집합을 구할 수 있다
print(a&b)
print()
c = a.copy()
c|=b                     # a.update(b), a|=b : a에 a와b의 합집합을 대입한다.
print(c)
print()
my_data = [1,2,3,4]
my_set = {tuple(my_data)} # 사전과 마찬가지로 집합의 원소들도 일반적으로 변경이 불가능해야하므로 리스트 같은 원소를 담으려면 튜플로 변경해야한다
print(my_set)
print()
print({1,2,3}=={3,2,1})  # 집합의 내용이 같다면 두 집합은 동일하다

{1, 2, 3}
{1, 2, 3}

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}
{3, 4, 5}

{1, 2, 3, 4, 5, 6, 7, 8}

{(1, 2, 3, 4)}

True

In [18]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
print([x.upper() for x in strings if len(x) >2])
print()
unique_lengths = {len(x) for x in strings}
print(unique_lengths)
print()
loc_mapping = {val : index for index, val in enumerate(strings)}
print(loc_mapping)

['BAT', 'CAR', 'DOVE', 'PYTHON']

{1, 2, 3, 4, 6}

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [20]:
# 중첩된 리스트 표기법 !!
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
result = [name for names in all_data for name in names if name.count('e')>=2]
result

['Steven']

In [21]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
def my_function(x, y, z):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)
    
my_function(1,2,3)

9

In [29]:
states = ['Alabama', 'Geogia!', 'Georgia', 'georgia', 'FlOrIda', 'southcarolina##', 'West virginia?']
import re
def clean_strings(strings):
    result=[]
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]','',value)
        value = value.title()
        result.append(value)
    return result
clean_strings(states)

['Alabama',
 'Geogia',
 'Georgia',
 'Georgia',
 'Florida',
 'Southcarolina',
 'West Virginia']

In [30]:
strings = ['foo', ' card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x:len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', ' card']

In [33]:
some_dict = {'a':1, 'b':2, 'c':3}
for key in some_dict:
    print(key)
dict_iterator = iter(some_dict)
print()
print(dict_iterator)

a
b
c

<dict_keyiterator object at 0x7f85a802c9a0>

In [38]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1, n+1):
        yield i ** 2
gen = squares()
for x in gen:
    print(x, end = ' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [44]:
print(sum(x**2 for x in range(100)))
print(dict((i,i**2) for i in range(5)))

328350
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [45]:
import itertools
first_letter = lambda x : x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):   
    # groupby : 순차자료구조와 함수를 받아 인자로 받은 함수에서 반환하는 값에 따라 그룹을 지어줌
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [52]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x
attempt_float('something')

'something'